# [Python Core]
__pycache__/
*.py[cod]
*.class
.venv/
venv/
.env

# [Jupyter Notebook]
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# [Data & Models]
data/
*.csv
*.gz
*.pkl
*.joblib
*.npy

# [System & IDE]
.DS_Store
.vscode/
.idea/

# [Images & Reports]
*.png
*.jpg
*.pdf
!reports/figures/
.Rhistory
.RData
.Ruserdata
